<header
	class="sticky sm:h-full sm:min-w-[260px] flex flex-row sm:flex-col items-center content-center align-middle justify-center sm:top-[20%] top-0 border-b-2 sm:border-0 bg-white sm:mx-[10%] dark:bg-slate-800">
	<img src="assets/philip.jpeg" class="w-20 rounded-full mx-4 sm:mx-0 mb-4">
	<h1 class="text-3xl my-0 sm:my-3 mx-4 sm:mx-0 hover:font-medium"><a href="/">Philip Boeken</a></h1>
	<h2 class="text-gray-500 dark:text-gray-300 my-0 sm:my-3 mx-4 sm:mx-0 hidden sm:flex sm:text-xl">PhD candidate</h2>
	<h3 class="text-gray-500 dark:text-gray-300 my-0 sm:my-3 mx-4 sm:mx-0 hidden sm:flex">University of Amsterdam</h2>
		<p class="hidden sm:flex flex-col sm:flex-row my-0 sm:my-3 mx-4 sm:mx-0 sm:text-3xl">
			<a href="mailto:p.a.boeken@uva.nl" class="mx-2 hover:text-gray-600"><i class="fa-solid fa-envelope"></i></i></a>
			<a href="https://scholar.google.com/citations?user=jzJ7jqAAAAAJ&hl=nl" target=”_blank” class="mx-2 hover:text-gray-600"><i
					class="fa-solid fa-graduation-cap"></i></a>
			<a href="https://github.com/philipboeken" target=”_blank” class="mx-2 hover:text-gray-600"><i
					class="fa-brands fa-square-github"></i></a>
			<a href="https://www.linkedin.com/in/philip-boeken-a521a313a/" target=”_blank” class="mx-2 hover:text-gray-600"><i
					class="fa-brands fa-linkedin"></i></a>
		</p>

		<div class="my-0 sm:my-3 mx-4 sm:mx-0 text-lg text-gray-400 w-[120px]">
			<div class="flex flex-row items-center">
				<i class="fa-regular fa-angle-right mr-2"></i>
				<a href="#about" class="hover:font-medium">About</a>
			</div>
			<div class="flex flex-row items-center">
				<i class="fa-regular fa-angle-right mr-2"></i>
				<a href="#publications" class="hover:font-medium">Publications</a>
			</div>
			<div class="flex flex-row items-center">
				<i class="fa-regular fa-angle-right mr-2"></i>
				<a href="#talks" class="hover:font-medium">Talks</a>
			</div>
			<div class="flex flex-row items-center">
				<i class="fa-regular fa-angle-right mr-2"></i>
				<a href="#other" class="hover:font-medium">Other</a>
			</div>
			<div class="flex flex-row items-center">
				<i class="fa-regular fa-angle-right mr-2"></i>
				<a href="#contact" class="hover:font-medium">Contact</a>
			</div>
		</div>
</header>