<div class="mb-10 flex flex-col">
	<div class="text-gray-800 dark:text-gray-300 font-medium">Dynamic Structural Causal Models</div>
	<div>Philip Boeken, Joris M. Mooij</div>
	<div>
		<a class="text-blue-600 dark:text-sky-400" href="https://sites.google.com/view/ci4ts2024/home?authuser=0" target="_blank">Causal inference for time series data Workshop @ UAI 2024</a> (Oral)
	</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2024dynamic.pdf" target="_blank">paper</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/20240719_ci4ts.pdf" target="_blank">slides</a>]
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-supp.pdf" target="_blank">supplement</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2024evaluating-poster.pdf" target="_blank">poster</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-bibtex.txt" target="_blank">BibTex</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="https://github.com/philipboeken/debiased_regression" target="_blank">GitHub</a>] -->
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/20240412_dscm_poster.pdf" target="_blank">poster</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="https://arxiv.org/abs/2406.01161" target="_blank">arXiv</a>]
	</div>
</div>

<div class="flex flex-col">
	<div class="flex flex-col sm:flex-row">
		<div class="text-gray-800 dark:text-gray-300 font-medium">Notes on conditional expectations and distributions</div>
		<div class="sm:ml-3">November 27, 2023</div>
	</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/20231127_conditioning_notes.pdf" target="_blank">pdf</a>]
	</div>
</div>