<div class="mb-10 flex flex-col">
	<div class="text-gray-800 dark:text-gray-300 font-medium">Topological Criteria for Hypothesis Testing with Finite Precision Measurements</div>
	<div>Philip Boeken, Eduardo Skapinakis, Konstantin Genin, Joris M. Mooij</div>
	<div>
		<!-- Accepted at <a class="text-blue-600 dark:text-sky-400" href="https://www.cclear.cc/2024/" target="_blank">CLeaR 2024</a> (Poster) -->
	</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2026topological.pdf" target="_blank">pdf</a>]
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-supp.pdf" target="_blank">supplement</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2024nonparametric-poster.pdf" target="_blank">poster</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-bibtex.txt" target="_blank">BibTex</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="https://github.com/philipboeken/debiased_regression" target="_blank">GitHub</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/20240412_dscm_poster.pdf" target="_blank">poster</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="https://arxiv.org/abs/2410.16004" target="_blank">arXiv</a>] -->
	</div>
</div>

<div class="flex flex-col">
	<div class="text-gray-800 dark:text-gray-300 font-medium">Are Bayesian networks typically faithful?</div>
	<div>Philip Boeken, Patrick Forré, Joris M. Mooij</div>
	<div>
		<!-- Accepted at <a class="text-blue-600 dark:text-sky-400" href="https://www.cclear.cc/2024/" target="_blank">CLeaR 2024</a> (Poster) -->
	</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2025are.pdf" target="_blank">pdf</a>]
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-supp.pdf" target="_blank">supplement</a>] -->
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2024nonparametric-poster.pdf" target="_blank">poster</a>]
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-bibtex.txt" target="_blank">BibTex</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="https://github.com/philipboeken/debiased_regression" target="_blank">GitHub</a>] -->
		<!-- [<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/20240412_dscm_poster.pdf" target="_blank">poster</a>] -->
		[<a class="text-blue-600 dark:text-sky-400" href="https://arxiv.org/abs/2410.16004" target="_blank">arXiv</a>]
	</div>
</div>
