<div class="mb-10 flex flex-col">
	<div class="text-gray-800 dark:text-gray-300 font-medium">Correcting for selection bias and missing response in regression using privileged information</div>
	<div>Philip Boeken, Noud de Kroon, Mathijs de Jong, Joris M. Mooij, Onno Zoeter</div>
	<div>
		<a class="text-blue-600 dark:text-sky-400 italic" href="https://proceedings.mlr.press/v216/boeken23a.html" target="_blank">Proceedings of the 39th Conference on Uncertainty in Artificial Intelligence</a>
		(<a class="text-blue-600 dark:text-sky-400" href="https://www.auai.org/uai2023/" target="_blank">UAI23</a>, poster), 2023
	</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting.pdf" target="_blank">pdf</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-supp.pdf" target="_blank">supplement</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-poster.pdf" target="_blank">poster</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2023correcting-bibtex.txt" target="_blank">BibTex</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="https://github.com/philipboeken/debiased_regression" target="_blank">GitHub</a>]
	</div>
</div>

<div class="mt-10 flex flex-col">
	<div class="text-gray-800 dark:text-gray-300 font-medium">A Bayesian Nonparametric Conditional Two-sample Test with an Application to Local Causal Discovery</div>
	<div>Philip Boeken, Joris M. Mooij</div>
	<div>
		<a class="text-blue-600 dark:text-sky-400 italic" href="https://proceedings.mlr.press/v161/boeken21a.html" target="_blank">Proceedings of the 37th Conference on Uncertainty in Artificial Intelligence</a>
		(<a class="text-blue-600 dark:text-sky-400" href="https://www.auai.org/uai2021/" target="_blank">UAI21</a>, oral), 2021
	</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2021bayesian.pdf" target="_blank">pdf</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2021bayesian-supp.pdf" target="_blank">supplement</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2021bayesian-poster.pdf" target="_blank">poster</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/papers/boeken2021bayesian-bibtex.txt" target="_blank">BibTex</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="https://github.com/philipboeken/PTTests" target="_blank">GitHub</a>]
	</div>
</div>