<div class="mb-10 flex flex-col">
	<div class="flex flex-col sm:flex-row">
		<div class="text-gray-800 dark:text-gray-300 font-medium">Amsterdam Causality Meeting</div>
		<div class="sm:ml-3">February 29, 2024</div>
	</div>
	<div class="italic">A Markov Property for Sample Paths of Stochastic Processes</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/talks/20240229_ACM_presentation.pdf" target="_blank">slides</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="https://amscausality.github.io/" target="_blank">website</a>]
	</div>
</div>

<div class="mb-10 flex flex-col">
	<div class="flex flex-col sm:flex-row">
		<div class="text-gray-800 dark:text-gray-300 font-medium">Full Orbit</div>
		<div class="sm:ml-3">September 15, 2023</div>
	</div>
	<div class="italic">Eating pizza increases your IQ</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/talks/20230915_full_orbit_presentation.pdf" target="_blank">slides</a>]
	</div>
</div>

<div class="mt-10 flex flex-col">
	<div class="flex flex-col sm:flex-row">
		<div class="text-gray-800 dark:text-gray-300 font-medium">SIKS workshop on causal inference</div>
		<div class="sm:ml-3">May 30, 2023</div>
	</div>
	<div class="italic">Correcting for selection bias and missing response</div>
	<div class="text-sm">
		[<a class="text-blue-600 dark:text-sky-400" href="/assets/pdf/talks/20230530_SIKS_workshop_tutorial_PB.pdf" target="_blank">slides</a>]
		[<a class="text-blue-600 dark:text-sky-400" href="https://siks.nl/activities/activities/siks-course-on-causal-inference/" target="_blank">website</a>]
	</div>
</div>
